


/* basic */
/* header */

header{
    height: 3rem;
    background-image: linear-gradient(135deg,  #1a1a1a,  #333333);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: #27f060 2px solid;
    position: relative;
}
.links{
    display: flex;
    /* padding: 1rem; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.logo div{
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
    }
.logo {
        height: 3rem;
        width: 3rem;
    }

#asideDi{
    padding: .7rem;
    z-index: 1004;
    /* background: #303832; */
    /* background-color: #333333; */
    border-radius: .3rem;
    transition: .1s linear;
    cursor: pointer;
    /* height: 2rem; */
}
#asideDi img{
    height: 1rem;
}


#miniProfile{
    position: absolute;
    padding: .6rem;
    top: 3rem;
    right: 1rem;

    display: none;

    background: rgba(149, 255, 193, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    z-index: 1003;
}

#miniProfileDi div {
    pointer-events: none;
    /* padding: .2rem; */
}
#miniProfileDi {
    padding: .1rem;
}
#miniProfileDi img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.logged, .notlogged, .halfLogged{
    display: none;
}

/* not logged */
#register, #signin{
    /* background: #22c7519a; */
    background: #22c751;
    background: #68F690;
    background-image: linear-gradient(135deg,  #68F690,  #22c751);

    border-radius: .5rem;
}
/* logged */
#currentAccount{
    text-decoration: none;
    color: black;
}
#currentAccountImgDi{
    background-position: center;
    background-size: cover;
}


.currentAccount .accountImg{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#byGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* half logged */



/* main */
main{
    overflow: hidden;
}

#map {
    height: 92vh;
    width: 100vw;
}

#addRouteMode{
    border: #1F2721 2px solid;
    z-index: 1003;
    background-image: url('./imgs/addroute-form.png');
    background-repeat: no-repeat;
    font-size: 1.3rem;
    font-weight: bold;
}

#send{
    /* margin-top: 2rem; */
    background: #1bf057;
    border: 4px #1F2721 solid;
}
#send:hover{
    color: #1bf057;
    background: #1F2721;
}

.deletebtns {
    /* padding: .5rem; */
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deletebtns button {
    display: block;
    /* margin: .2rem; */
}

/* controllers */
#controller {
    display: flex;
    flex-direction: column;
    width: 6rem;
    gap: .4rem;
    font-size: 2.4rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: .1rem;
    z-index: 1003;
    background: #303832;
    border-radius: .5rem;
background: rgba(255, 255, 255, 0.2);
background: rgba(149, 255, 193, 0.2);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
#controller button{
    font-weight: bold;
}
#newRouteDetails{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    display: none;
}

#makeLocLink{
    position: absolute;
    top: 5.5rem;
    left: .1rem;
    z-index: 1003;
}


#messages{
    position: absolute;
    top: 2rem;
    right: 45vw;
    text-align: center;
}
#messages div{
    display: none;
}



#routesToDisplay{
    z-index: 1003;
    position: absolute;
    top: 3.2rem;
    left: .1rem;
    font-weight: bold;
    /* color: #0171da; */
}
#routesToDisplay button{
    /* border: ; */
    border: #2b2b2b 1px solid;
    border-radius: .3rem;
}


/* aside */
aside{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    background: #1a1a1a8c;
    top: 0;
    /* height: 100vh; */
    width: 100vw;
    margin-top: 3rem;
    gap: 1rem;

    z-index: 1003;
}




  /* leaderboard */
.leaderBoard{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    max-height: 65vh;
    /* overflow-y: scroll; */
    background: #242424;
    background-image: linear-gradient(135deg,  #1a1a1a,  #2b2b2b);

    border: #27f060 1px solid;
    max-height: 70vh;
    /* box-sizing: border-box; */
    overflow: scroll;
}
.leaderBoard button{
    background-repeat: no-repeat;
}

.rankingSections button{
    background: #33a353;
    padding: .2rem;
    cursor: pointer;
    border-radius: .2rem;
    /* width: fit-content; */
}

.rankingHeader{
    display: flex;
    flex-direction: row;
    background: #0a0a0a;
    justify-content: space-between;
}
.rankingHeader img{
    min-height: 3rem;
    min-width: 3rem;
}
.rankingHeader button{
    padding: 1rem;
    width: 100%;
    width: fit-content;
}

.rankedAccount{
    border: #0a0a0a 2px solid;
    display: flex;
    justify-content: space-between;
    color: white;
    /* background: #242424; */
    background-image: linear-gradient(135deg,  #1a1a1a,  #2b2b2b);

    gap: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}
.rankedAccount .account{
    color: white;
}
.points{
    display: flex;
    width: 7rem;
    justify-content: space-between;
    
}
.point{
    text-align: center;
    font-size: 2rem;
}
.ranking{
    display: flex;
    flex-direction: column;
    background: #29D659;
    border: #a0f7b9 2px solid;
    padding: .3rem;
}
.rankedAccount .accountImg{
    min-height: 2rem;
    min-width: 2rem;
}
.rankedAccount h3{
    line-height: 0;
}
.rankedAccount .account:hover{
    background: #3ac962;
}


/* footer */
footer{
    min-height: 20vh;
    background-image: linear-gradient(45deg,  #1a1a1a,  #292929);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: #27f060 2px solid;
    gap: 1rem;
    width: 100%;
}

.contact, .statics, .features{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 15vh;
    border-radius: .5rem;
    transition: .1s linear;
    background: white;
    padding: 1rem;
}

.contact:hover, .features:hover, .statics:hover{
    box-shadow: 3px 3px 0px 0px  #29D659;
}
.logoPart{
    /* background: red; */
    height: 1rem;
    width: 2rem;
    margin-top: 1rem;
    transform: rotateZ(-15deg);
    z-index: 1001;
}


.projectsInfo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: .3rem;
}

.projectStatics{
    background: #54db7b;
    background-image: linear-gradient(135deg, #6ada89, #3ac962 );
    /* background: red; */
    border-radius: .3rem;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.statics li b{
    color: red;
}
.statics img{
    height: 1rem;
}
.statics li{
    background: #C0F9D0;
    background-image: linear-gradient(135deg, #9cffb8, #54ff85 );

    border-radius: .4rem;
    margin-bottom: .2rem;
}


.features{
    width: fit-content;
}
.features img{
    height: 1rem;
}
.features li b{
    color: red;
}
.features li{
    direction: rtl;
    background: #1a1a1a;
    color: white;
    margin: .1rem;
    padding: .3rem;
    border-radius: .3rem;
    list-style-type: none;

}

/* .features{
    width: 50vw;
}
.features div{
    background: #1a1a1a;
    color: white;
    margin: .1rem;
} */



/* elements */
body{
    margin: 0;
    overflow-x: hidden;
}

main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
    direction: rtl;
}

body *{
    box-sizing: border-box;
    font-family: 'Prosto One', 'Changa';
    font-size: .8rem;
}
img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
    pointer-events: none;
}
input[type=text]{
    font-size: 1rem;
}
input[type=file]{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-position: center;
    background-size: contain;
}


::-webkit-scrollbar{width:6px;border-left:1px solid #292929;}
::-webkit-scrollbar-thumb{background-color: #33a353;}




/* shared */
.logged, .makeprofile, .notlogged{
    display: none;
}
.teamEle{
    display: none;
}
.box{
    background-color: #27f060;
    background-image: linear-gradient(135deg,  #27f060, #22c751);

    padding: .5rem;
    border-radius: .5rem;
    transition: .1s linear;
    cursor: pointer;
}
.box:hover{
    background-color: #33a353;
    border-radius: .7rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    flex-direction: row;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    transition: .1s linear;
    cursor: pointer;
}
.accountImg{
    border-radius: 50%;
    border: #0a0a0a 1px solid;
}

.on{
    background: #1b1b1b;
    color: white;
}
.on:hover{
    background: #333333;
}
.on2{
    background: #1bf057;
}

.red {
    background: #ff2a2a;
}

.green {
    background: #27f060;
}

.black {
    background: #1b1b1b;
}

.white {
    background: rgb(245, 245, 245);
}

/* mobile */

@media all and (max-width: 500px){
    main{
        flex-direction: column;
    }
    body *{
        font-size: .8rem;
    }
    footer{
        flex-direction: column;
        gap: .2rem;
    }
    .contact, .features, .statics{
        width: 90vw;
    }
      /* leaderboard */
    .leaderBoard{
        width: 90vw;
    }
    .rankingHeader{
        height: 2rem;
    }
}


/* js created */

.upvoteBtn, .downvoteBtn{
    margin-right: 2px;
    margin-bottom: 2px;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: .1s linear;
    display: inline;
    padding: .4rem;
}

.upvoteBtn{
    background: #1bf057;
    border: 2px solid #1bf057;
}
.upvoteBtn:hover{
    background: #29D659;
}

.downvoteBtn{
    background: #ff2a2a;
    border: 2px solid #ff2a2a;

}
.downvoteBtn:hover{
    background: #df2727;
}

.voted{
    border: 2px solid blue;
}

.sureBtn{
    background: rgb(48, 154, 253);
    border: none;
    border-radius: .6rem;
    transition: .1s linear;
    padding: .6rem;
    width: 100%;
    cursor: pointer;
}
.sureBtn:hover{
    background: rgb(34, 106, 173);
}





