

/* basics */
/* header */

header{
    height: 3rem;
    background: #29D659;
    background: #1a1a1a;
    background-image: linear-gradient(135deg, #1a1a1a, #383838);
    border-bottom: #1bf057 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
    }
    .logo {
        height: 2rem;
        width: 2rem;
    }

#footer-di{
    /* background: red; */
    z-index: 1003;
    color: white;
    /* border: #ff2a2a 2px solid; */
}
.auth{
height: 2rem;
}
.auth div{
    pointer-events: none;
}
.authstate{
    position: absolute;
    /* make it glass form */
    /* background: #29D659;
    border-radius: .6rem; */
    padding: .6rem;
    top: 3rem;
    right: 1rem;
    /* width: 7rem; */
    width: auto;

    z-index: 1002;
    display: none;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
background: rgba(149, 255, 193, 0.2);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.cuserimg{
    /* height: 3rem; */
    width: auto;
}
#profileLink{
    text-decoration: none;
    color: black;
}
.logged, .notlogged, .makeprofile{
    display: none;
}
.logged{

}
.auth img{
    height: 3rem;
    height: 2.3rem;
    width: 3rem;
    width: 2.3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.cuserimg{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#bygoogle{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
#map {
    height: 100vh;
    width: 100vw;
}

#addmode{
    border: #1F2721 2px solid;
    z-index: 1002;
    background-image: url('./imgs/addroute-form.png');
    background-repeat: no-repeat;
    font-size: 1.3rem;
    font-weight: bold;
}

#send{
    /* margin-top: 2rem; */
    background: #1bf057;
    border: 4px #1F2721 solid;
}
#send:hover{
    color: #1bf057;
    background: #1F2721;
}

.deletebtns {
    /* padding: .5rem; */
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deletebtns button {
    display: block;
    /* margin: .2rem; */
}

/* controllers */
.btns {
    display: flex;
    flex-direction: column;
    width: 10vw;
    gap: .4rem;
    font-size: 2.4rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: .1rem;
    z-index: 1002;
    background: #303832;
    border-radius: .5rem;
background: rgba(255, 255, 255, 0.2);
background: rgba(149, 255, 193, 0.2);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.btns button{
    font-weight: bold;
}
#oBtns{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    display: none;
}

#makeLocLink{
    position: absolute;
    top: 5.5rem;
    left: .1rem;
    z-index: 1002;
}

#message{
    position: absolute;
    top: 3rem;
    right: 50vw;
    transform: translate(50%, 50%);
    z-index: 1002;
    padding: 1rem;
}
#sendingDataMessage{
    background: #54db7b;
}
#errorMessage{
    display: none;
    background: #ff2a2a;
}


#routesToDisplay{
    z-index: 1002;
    position: absolute;
    top: 3.2rem;
    left: .1rem;
    font-weight: bold;
    /* color: #0171da; */
}

/* footer */

footer {
    height: 100vh;
    width: 100vw;
    /* background: rgba(0, 0, 0, 0.8); */
    background-image: url('./imgs/footercover.png');
    background-size: contain;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1002;
    display: none;
}
footer *{
    box-sizing: border-box;
}
.footerflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* footer; ranking */
.leaderBoard{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    max-height: 65vh;
    overflow-y: scroll;
    background: #242424;
    border: #27f060 1px solid;
    max-height: 70vh;
}
.leaderBoard>span button{
    background: #33a353;
    padding: .2rem;
    cursor: pointer;
    border-radius: .2rem;
}
.rankingHeader{
    display: flex;
    flex-direction: row;
    background: #0a0a0a;
}
.rankingHeader button{
    width: 10rem;
    /* flex-grow: 1; */
}
#accountHeader{
    min-width: 5rem;
}

.usersRanking{
    max-width: 100%;
}
.rankedAccount{
    border: #0a0a0a 2px solid;
    display: flex;
    color: white;
    background: #242424;
    gap: 1rem;
    max-width: 100%;
    box-sizing: border-box;
}
.ranking{
    display: flex;
    flex-direction: column;
    background: #29D659;
    border: #a0f7b9 2px solid;
    font-size: 2rem;
    text-align: center;
}
.rankedAccount span, .rankedAccount>h3, .rankedAccount .account{
    width: 10vw;
    /* flex-grow: 1; */
}
.rankedAccount .account{
    justify-content: flex-start;
    /* flex-grow: 2; */
}
.rankedAccount>h3{
    text-align: center;
}
.rankedAccount img{
    min-height: 2rem;
    min-width: 2rem;
}
.leaderBoard button{
    background-repeat: no-repeat;
}
.rankedAccount h3{
    line-height: 0;
}


/* footer; info */
.info{
    min-height: 20vh;
    /* padding: 0% 1rem; */
    /* background: green; */
    background: #0a0a0a;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    width: 100vw;
    /* box-sizing: border-box; */
}

.contact, .features, .statics{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    /* background: #29D659; */
    min-height: 15vh;
    width: 20vw;
    border-radius: .5rem;
    transition: .1s linear;
    background: white;
}

.contact:hover, .features:hover, .statics:hover{
    box-shadow: 3px 3px 0px 0px  #29D659;
}
.contact img, .features img, .statics img{
    /* height: 2rem; */
}
.features{
    width: 50vw;
}
.features div{
    background: #1a1a1a;
    color: white;
    margin: .1rem;
}
.features li{
    direction: ltr;
}
.statics img{
    height: 1rem;
}
footer .info p{
    /* line-height: 0%; */
    margin: .8rem;
}



/* elements */
body{
    margin: 0;
}

main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
    direction: rtl;
}

body{
    overflow-x: hidden;
    background: #1F2721;
    margin: 0;
    overflow: hidden;
}
body *{
    /* box-sizing: border-box; */
}
img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
}
input[type=file]{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-position: center;
    background-size: contain;
}
li{
    background: #C0F9D0;
    border-radius: .4rem;
    margin-bottom: .2rem;
}
label{
    background: #54db7b;
    cursor: pointer;
    padding: .4rem;
    transition: .2s linear;
    border-radius: .2rem;
}
label:hover{
    background: #33a353;
}


/* shared */
.logged, .makeprofile, .notlogged{
    display: none;
}
.box{
    background-color: #27f060;
    padding: .5rem;
    border-radius: .5rem;
    transition: .1s linear;
    cursor: pointer;
}
/* main .box{
    background: #1a1a1a;
    color: white;
} */
.box:hover{
    background-color: #33a353;
    border-radius: .7rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    transition: .1s linear;
    cursor: pointer;
}

.accountImg{
    border-radius: 50%;
    border: #0a0a0a 1px solid;
}



.on{
    background: #1b1b1b;
    color: white;
}
.on:hover{
    background: #333333;
    /* background: #df2727; */
    background: #33a353;
}

#displayCompletedRoutes, #displayUncompletedRoutes{
    padding: .2rem;
    border-radius: .2rem;
    /* color: black;
    background: #1a1a1a; */
}
.on2{
    background: #1bf057;
}
.red {
    background: #ff2a2a;
}

.green {
    background: #27f060;
}

.black {
    background: #0a0a0a;
}

.white {
    background: rgb(245, 245, 245);
}        


/* js created */

.upvoteBtn, .downvoteBtn{
    margin-right: 2px;
    margin-bottom: 2px;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: .1s linear;
    display: inline;
    padding: .4rem;
}

.upvoteBtn{
    background: #1bf057;
    border: 2px solid #1bf057;
}
.upvoteBtn:hover{
    background: #29D659;
}

.downvoteBtn{
    background: #ff2a2a;
    border: 2px solid #ff2a2a;

}
.downvoteBtn:hover{
    background: #df2727;
}

.voted{
    border: 2px solid blue;
}

.sureBtn{
    background: rgb(48, 154, 253);
    border: none;
    border-radius: .6rem;
    transition: .1s linear;
    padding: .6rem;
    width: 100%;
    cursor: pointer;
}
.sureBtn:hover{
    background: rgb(34, 106, 173);
}


/* mobile */

@media all and (max-width: 500px){
    body *{
        font-size: .6rem;
    }
    header{
        padding: 0;
    }
    img{
        height: 1.5rem;
    }
    .btns *{
        font-size: .7rem;
    }

    .btns{
        margin: 0 0 3rem 0;
        width: 5rem;

    }
    footer{
        padding-top: 2rem;
    }

    /* leaderboard */
    .leaderBoard{
        /* position: absolute; */
        /* top: 2rem; */
        /* transform: translate(0, 2rem); */
        width: 100vw;
    }
    .leaderBoard img{
        height: 1rem;
    }
    .rankingHeader{
        height: 2rem;
        font-size: small;
    }
    .rankedAccount{
        /* justify-content: space-evenly; */
        height: fit-content;
    }
    .rankedAccount .account{
        /* min-width: fit-content; */
        
        width: 5rem;
        /* width: 3rem; */
    }
    .rankedAccount span{
        font-size: small;
    }
    .rankedAccount>h3, .rankedAccount div{
    font-size: .7rem;
    }

    .info{
        flex-direction: column;
        gap: 1rem;

    }
    .info div{
        width: 100%;
        padding: .1rem;
    }
    .features img{
        height: 1rem;
    }
    
    footer .info p{
        line-height: auto;
        margin: auto;
    }
    .box{
        padding: .2rem;
    }
    #footer-di{
        font-size: 2rem;
        padding: .3rem;
    }
}



