

/* basic */
/* header */

header{
    height: 3rem;
    background: #29D659;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
    }
    .logo {
        height: 2rem;
        width: 2rem;
    }

#footer-di{
    /* background: red; */
    z-index: 1003;
    border: #ff2a2a 2px solid;
}
.auth{
height: 2rem;
}
.auth div{
    pointer-events: none;
}
.authstate{
    position: absolute;
    /* make it glass form */
    /* background: #29D659;
    border-radius: .6rem; */
    padding: .6rem;
    top: 3rem;
    right: 1rem;
    width: 7rem;

    z-index: 1002;
    display: none;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
background: rgba(149, 255, 193, 0.2);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.cuserimg{
    /* height: 3rem; */
    width: auto;
}
#profileLink{
    text-decoration: none;
    color: black;
}
.logged, .notlogged, .makeprofile{
    display: none;
}
.logged{

}
.auth img{
    height: 3rem;
    height: 2.3rem;
    width: 3rem;
    width: 2.3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.cuserimg{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

/* 

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    
}

.details{
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    height: fit-content;
    z-index: 1003;
    width: fit-content;
    overflow: hidden;
}

.logo, #en,.mdetails {
    height: 3rem;
    width: 3rem;
    background: #1bf057;
    padding: 1rem;
    border-radius: .5rem;
    top: 1rem;
    left: 1rem;
    z-index: 1001;
}
.logo div {
    height: 30%;
    width: 75%;
    margin-bottom: 10%;
    transform: rotateZ(-15deg);
}

.mdetails, #en{
    height: fit-content;
    width: fit-content;
    font-size: 1.4rem;
}
.mdetails:hover, #en:hover{
    background: #45db6f;
}

header button{
    padding: 1rem;
}
 */


/* main */

#map {
    height: 100vh;
    width: 100vw;
    /* border: 2px rgb(24, 24, 24) solid; */
    /* border-radius: .4rem; */
}

/* main {
    background: #C0F9D0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
} */


#addmode{
    /* background: #29D659; */
    /* background-image: url("https://github.com/pointhi/leaflet-color-markers/blob/master/img/marker-icon-2x-blue.png?raw=true"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: #1F2721 2px solid;
    z-index: 1004;
}

#send{
    margin-top: 2rem;
    background: #1bf057;
    border: 4px #1F2721 solid;
}
#send:hover{
    color: #1bf057;
    background: #1F2721;
}

.deletebtns {
    padding: .5rem;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deletebtns button {
    display: block;
    margin: .2rem;
}

.btns {
    display: flex;
    flex-direction: column;
    /* height: 20vh; */
    width: 10vw;
    gap: .4rem;
    font-size: 2.4rem;
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    z-index: 1001;
    background: #303832;
    /* background: #2b693d; */
    border-radius: .5rem;
}



/* auth */
.auth{
    position: absolute;
    /* height: 4rem;
    width: 6rem; */
    width: 6rem;
    /* background: red; */
    background: #27f060;
    top: 2rem;
    right: 2rem;
    z-index: 1006;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
}
.authstate{
    position: absolute;
    /* background: green; */
    background: #29D659;
    border-radius: 1rem;
    padding: 1rem;
    top: 6rem;
    right: 2rem;

    z-index: 1006;
    display: none;
}
.logged{
    /* display: none; */
}
.notlogged{
    /* display: none; */
}

.auth img{
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.authstate img{
    height: 6rem;
    width: 6rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.miniprofile{
    display: flex;
    gap: .6rem;
}
#errors{
    /* height: 2rem; */
    /* width: 6rem; */
    padding: 1rem;
    position: absolute;
    top: 2rem;
    right: 50vw;
    z-index: 1006;
    background: rgb(235, 113, 113);
    border-radius: 1rem;
    display: none;
}

/* footer */

footer {
    /* min-height: 20vh; */
    /* border-top: 2px solid black; */
    display: flex;
    background: #303832a2;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* padding: 2rem; */
    /* gap: 3rem; */
    /* background: #303030; */
    /* background: white; */
    /* backdrop-filter: blur(1rem); */
    /* background: url('./lina-white-mkZ-HHYlZ98-unsplash.jpg'); */
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0rem;
    z-index: 1001;
    /* margin: 1rem; */
    display: none;
}
.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.features, h2{
    width: 100%;
    /* height: 5vh; */
    /* color: white; */
    text-align: center;
    font-size: 2rem;
}
.features div div{
    color: white;
    text-align: center;
    font-size: 2rem;
    background: #1F2721;
    border-radius: .4rem;
    display: block;
    width: fit-content;
    margin: .2rem auto;
    padding: 1rem;
    transition: .1s linear;
    display: inline-block;
}
.features div div:hover{
    background: rgb(52, 56, 54);
}
.features img{
    height: 6rem;
}
#info div, .features, .additionalInfo {
    min-width: 20vw;
    max-width: 80vw;
    /* height: 40vh; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    transition: .1s linear;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    /* cursor: pointer; */
    background: white;
}

#info div:hover, .features:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

footer span {
    height: 1.5rem;
    width: 3rem;
    /* margin-bottom: 10%; */
    margin-bottom: .2rem;
    transform: rotateZ(-15deg);
    align-self: flex-start;
}

#info{
    /* background: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact img{
    height: 2rem;
}


/* elements*/

body {
    margin: 0%;
    /* overflow-x: hidden; */
    overflow: hidden;
    background: #1F2721;
    padding-bottom: 2rem;
    position: relative;
}

img{
    height: 10rem;
}

a{
    all: unset;
    cursor: pointer;
}
b{
    color: red;
}
li{
    background: #C0F9D0;
    border-radius: .4rem;
    margin-bottom: .2rem;
    font-size: 1.3rem;
}


.btns button {
    padding: .4rem;
    background: "#148042";
    cursor: pointer;
    font-size: 1.5rem;
    background: #29D659;
    border: none;
    border-radius: .3rem;
    transition: .1s linear;
}
.btns button:hover{
    background: #51ec7d;
}




/* shared */

.on{
    background: #df2727;
}

.red {
    background: #ff2a2a;
}

.green {
    background: #27f060;
}

.black {
    background: #0a0a0a;
}

.white {
    background: rgb(245, 245, 245);
}





/* js generage */

.upvoteBtn, .downvoteBtn{
    margin-right: 2px;
    margin-bottom: 2px;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: .1s linear;
    display: inline;
    padding: .4rem;
}

.upvoteBtn{
    background: #1bf057;
    border: 2px solid #1bf057;
}
.upvoteBtn:hover{
    background: #29D659;
}

.downvoteBtn{
    background: #ff2a2a;
    border: 2px solid #ff2a2a;

}
.downvoteBtn:hover{
    background: #df2727;
}

.voted{
    border: 2px solid blue;
}

.sureBtn{
    background: rgb(48, 154, 253);
    border: none;
    border-radius: .6rem;
    transition: .1s linear;
    padding: .6rem;
    width: 100%;
    cursor: pointer;
}
.sureBtn:hover{
    background: rgb(34, 106, 173);
}



@media all and (max-width: 500px){

    /* main, footer{
        flex-direction: column;
        gap: 3rem;
    } */
    #map{
        /* width: 90%; */
    }
    footer{
        /* padding: 1rem 0; */
    }
    .features, h2, .features div{
        font-size: .8rem;
    }
    .btns{
        width: 30vw;
        bottom: 20vh;
    }
    button{
        font-size: .8rem;
        font-weight: 200;
    }
    #send{
        margin-top: 1rem;
    }
    .logo{
        height: 8vw;
        width: 8vw;
    }
    .details {
    gap: .4rem;
    }
    .logo{
        height: 2rem;
        width: 2rem;
    }
    #en, .mdetails{
        font-size: .8rem;
        padding: .8rem;
        /* height: 1rem; */
        /* width: 1rem; */
    }
    .features{
        margin-top: 2rem;
    }
    footer, .features div div, li{
        font-size: 1rem;
        padding: .5rem;
    }
    .features div div img, footer img{
        height: 4rem;
    }
    .h{
        background: #45db6f;
    }
    .f {
        background: #2b693d;
    }
    button{
        background: #54db7b;
    }

}


